body {
    color: white;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 12%;
}

img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 0px 7px 7px 0px;
}

p {
    font-size: 13px;
    line-height: 1.5em;
    margin: 3.5em 0;
    letter-spacing: 1px;
}

h3 {
    font-size: 20px;
    margin: 3px;
}

p.marg {
    margin: 3px;
    font-size: 10px;
}

.color {
    color: #8B53B6;
}

#bodyCover {
    display: flex;
    max-width: 70%;
}

.leftCard {
    background-color: #1C1938;
    width: 50%;
    padding: 5em;
    border-radius: 7px 0px 0px 7px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.rightCard {
    background-color: rgb(49, 4, 77);
    width: 50%;
    border-radius: 0px 7px 7px 0px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 992px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    
    }
    .leftCard {
        width: 50%;
        padding: 1rem;
    }
  }

@media only screen and (max-width: 719px) {
    body {
        margin-top: 2%;
    }
    #bodyCover {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column-reverse;
    }
    .grid-wrapper {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
    }
    .leftCard {
        width: 100%;
        padding: 5%;
        text-align: center;
        border-radius: 0px 0px 5px 5px;
    }
    .rightCard {
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }
    img {
        border-radius: 5px 5px 0px 0px;
    }
}